.multi-select {
	margin: 100px;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 5px;
}

.selected-items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px;
	width: 100%;
}

.chip {
	padding: 5px 10px;
	background-color: #007bff;
	color: white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.close {
	cursor: pointer;
	font-size: 18px;
}

.input {
	flex: 1;
	border: none;
	padding: 5px;
	font-size: 16px;
	min-width: 100px;
	width: 100%;
}

.input:focus {
	outline: none;
}

.suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: white;
	border: 1px solid #ccc;
	border-top: none;
	z-index: 10;
	max-height: 200px;
	overflow-y: auto;
}

.suggestion {
	padding: 10px;
	cursor: pointer;
	border-bottom: 1px solid #eee;
}

.suggestion:last-child {
	border-bottom: none;
}

.suggestion:hover {
	background-color: #f7f7f7;
}
.chip.highlighted {
	border: 2px solid #007bff; /* Highlight color */
}
